---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: telegraf
  name: telegraf
  namespace: {{ ansible_demo_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegraf
  template:
    metadata:
      labels:
        app: telegraf
    spec:
      volumes:
        - name: telegraf-config
          configMap:
            name: telegraf-config
            defaultMode: 420
      containers:
      - image: telegraf:1.19
        ports:
        - containerPort: 32400
          protocol: TCP
        name: telegraf
        livenessProbe:
          exec:
            command:
            - echo
            - ok
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 1Gi
            cpu: 500m
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        terminationMessagePath: /dev/termination-log
        volumeMounts:
          - name: telegraf-config
            mountPath: /etc/telegraf/telegraf.conf
            subPath: telegraf.conf

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: telegraf-config
  namespace: {{ ansible_demo_namespace }}
  labels:
    app: telegraf
data:
  telegraf.conf: |-
    [agent]
      interval = "10s"
      round_interval = true
      metric_buffer_limit = 10000
      flush_buffer_when_full = true
      collection_jitter = "0s"
      flush_interval = "10s"
      flush_jitter = "0s"
      debug = false
      quiet = false
      hostname = "telegraf"
    [[inputs.cisco_telemetry_mdt]]
      transport = "grpc"
      service_address = ":32400"
    [[outputs.kafka]]
      brokers = ["kafka-kafka-bootstrap.{{ ansible_demo_namespace }}.svc.cluster.local:9092"]
      topic = "cisco"
      data_format = "json"
    [[outputs.file]]
      files = ["stdout"]
      data_format = "json"

---
kind: Service
apiVersion: v1
metadata:
  name: telegraf
  namespace: {{ ansible_demo_namespace }}
  labels:
    app: telegraf
spec:
  type: NodePort
  ports:
    - name: 32400-tcp
      port: 32400
      targetPort: 32400
      nodePort: 32400
      protocol: TCP
  selector:
    app: telegraf
