---
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: kafka
  namespace: {{ ansible_demo_namespace }}
spec:
  kafka:
    config:
      default.replication.factor: 3
      inter.broker.protocol.version: '3.4'
      min.insync.replicas: 2
      offsets.topic.replication.factor: 3
      transaction.state.log.min.isr: 2
      transaction.state.log.replication.factor: 3
    resources:
      limits:
        memory: 2Gi
      requests:
        cpu: 1000m
        memory: 2Gi
    listeners:
      - name: plain
        port: 9092
        tls: false
        type: internal
      - name: tls
        port: 9093
        tls: true
        type: route
      - name: external
        port: 9094
        tls: false
        type: nodeport
    replicas: 3
    storage:
      size: 50Gi
      type: persistent-claim
    template:
      pod:
        terminationGracePeriodSeconds: 60
    version: 3.4.0
  zookeeper:
    replicas: 3
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 1Gi
    storage:
      size: 10Gi
      type: persistent-claim
  entityOperator:
    topicOperator: {}
    userOperator: {}
