---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: amq-streams
  namespace: {{ ansible_demo_namespace }}
labels:
  operators.coreos.com/{ ansible_demo_namespace }}: ""
spec:
  name: amq-streams
  channel: stable
  installPlanApproval: Manual
  source: redhat-operators
  sourceNamespace: openshift-marketplace