---
apiVersion: eda.ansible.com/v1alpha1
kind: EDA
metadata:
  name: eda
  namespace: {{ ansible_demo_namespace }}
spec:
  automation_server_ssl_verify: 'no'
  route_tls_termination_mechanism: Edge
  ingress_type: Route
  loadbalancer_port: 80
  admin_password_secret: eda-admin-password
  image_pull_policy: IfNotPresent
  ui:
    replicas: 1
  set_self_labels: true
  api:
    replicas: 1
  redis:
    replicas: 1
  automation_server_url: https://controller.{{ ocp_ingress_domain[0] }}
  admin_user: admin
  loadbalancer_protocol: http
  route_host: eda.{{ ocp_ingress_domain[0] }}
  worker:
    replicas: 6
