---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: netops-eda-de
  namespace: {{ ansible_demo_namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: DockerImage
      name: quay.io/ansible_eda/netops-eda-de:1.0
    name: "1.0"
    referencePolicy:
      type: Local
