---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: telegraf
  namespace: {{ ansible_demo_namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
  - from:
      kind: DockerImage
      name: quay.io/ansible_eda/telegraf:1.19
    name: "1.19"
    referencePolicy:
      type: Local